KERNEL=="mmcblk*", NAME="%k", OWNER="root", GROUP="disk", MODE="0640"
KERNEL=="mmcblk0p1", ACTION=="add", RUN+="/bin/mount /mnt/mmc"
KERNEL=="mmcblk0p1", ACTION=="remove", RUN+="/bin/umount /mnt/mmc"
