# Firmware loading helper (replaces hotplug)
# Firmware images go into /lib/firmware
ACTION=="add", SUBSYSTEM=="firmware", RUN+="/lib/udev/firmware_helper"
